

<div class="wrapper">
    <div class="card total">
        <div class="count">
            {{totalUsers}}
        </div>
        <div class="title">
            Total Users
        </div>
    </div>
    <div class="card paid">
        <div class="count">
            {{paidUsers}}
        </div>
        <div class="title">
            Paid Users
        </div>
    </div>
    <div class="card failed">
        <div class="count">
            {{notUsed}}
        </div>
        <div class="title">
           Not Used
        </div>
    </div>
    <div class="card free">
        <div class="count">
            {{freeUsers}}
        </div>
        <div class="title">
           Free Users
        </div>
    </div>
</div>
 